#deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pumejnetflix-deployment
  namespace: default 
  labels:
    app: netflix-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: netflix-app
      tier: frontend
      version: 1.0.0
  template:
    metadata:
      labels:
        app: netflix-app
        tier: frontend
        version: 1.0.0
    spec:
      containers:
      - name: netflix-container
        image: 598189530267.dkr.ecr.ap-south-1.amazonaws.com/pumejnetflix:v1.0
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      imagePullSecrets:
        - name: ecr-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: netflix-service
  labels:
    app: netflix-app
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: netflix-app
